.chat-send-message {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  input {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #2a3942;
    color: #d1d7db;
  }
  .icon {
    cursor: pointer;
    color: #627179;
  }
}
