.incoming-message {
  background-color: #202c33;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  max-width: 65%;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  color: #e9edef;
  font-family: inherit;

  img {
    position: absolute;
    left: -30px;
    top: 0px;
    max-width: 30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
  }

  .sender {
    font-weight: 500;
    height: 15px;
    padding-left: 5px;
    width: 100%;
    font-size: 10px;
    text-transform: capitalize;
  }
  .body-message {
    min-height: 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 11px;
    line-height: 16px;
  }
  .date {
    width: 100%;
    height: 7px;
    font-size: 7px;
    display: flex;
    justify-content: flex-end;
    color: gray;
  }
}
.sent-message {
  background-color: #005c4b;
  color: #e5f0e2;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
  margin-left: auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: inherit;

  .body-message {
    min-height: 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 11px;
    line-height: 16px;
  }
  .date {
    width: 100%;
    height: 7px;
    font-size: 7px;
    display: flex;
    justify-content: flex-end;
    color: #8fae8d;
  }
}
