@mixin xltablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}

.chats {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  transition: all 0.7s;
  margin-top: 5px;

  &:hover {
    background-color: #202c33;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .user-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    span {
      color: #aebac1;
      @include xltablet {
        display: none;
      }
    }
    p {
      color: #6c7479;
      margin-top: 5px;
    }
  }
}
