.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #202c33;
  justify-content: space-between;
  padding: 10px;

  .user {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      height: 30px;
      width: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
    p {
      margin-left: 10px;
      color: #aebac1;
      font-weight: bold;
    }
  }
  button {
    background-color: #aebac1;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
}
