.search {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 0.5px solid #202c33;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    padding-left: 15px;
    outline: currentColor;
    color: #aebac1;
  }
}

.found-friend {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-bottom: 0.5px solid #202c33;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: #202c33;
  }

  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  p {
    margin-left: 10px;
    color: #aebac1;
  }
}
