@mixin pc {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 700px) {
    @content;
  }
}

.profile {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a3942;
  border-top-left-radius: 10px;
  border-right: 0.1ch solid #202c33;

  .icon {
    width: 20px;
    height: 20px;
    color: #aebac1;
    cursor: pointer;
    &:hover {
      color: #0c1317;
    }
  }

  .user {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #aebac1;
    padding-left: 10px;
    @include pc {
      width: 20%;
    }
    @include tablet {
      display: none;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
    p {
      text-transform: capitalize;
      margin-left: 10px;
      @include pc {
        display: none;
      }
    }
  }
  .profile-icons {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #aebac1;
    @include tablet {
      width: 100%;
    }
  }
}
