.room-list {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 10px;
  .rooms {
    width: 100%;
    min-height: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}
